
<%= render partial: "layouts/jumbotron", locals: {heading: "InstaFeedback"} %>


<div class="container">
	<div class="row">
		<div class="col-md-6">
		<h3> <%= link_to("Tweet Breakdown", total_tweets_path) %></h3>
		<h3> <%= link_to("Redis Test", redis_test_path) %></h3>
		<h3> <%= link_to("Text API", text_api_path) %></h3>
	  
		</div>
	</div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Bootstrap Twitter Feed</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="panel-heading">
            Twitter Feed Example
          </div>
        <div class="panel-body">
          <textarea class="form-control" placeholder="Enter here for tweet..." rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- =============== SEARCH BAR =============== -->
<!-- 
<div class="container top-buffer">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div>
  </div>
</div>
 -->

<!-- =============== TWEETS =============== -->
<!-- 
<div class="container top-buffer">

  <div class="row">
    <div class="col-md-4 col-md-offset-1 image">
      <%= image_tag("heart.png", :alt => "rss feed", :size => "100x100") %>
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="clearfix">
          </div>
          <ul class="media-list">
            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/1.png" alt="" class="img-circle">
              </a>

              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ Rexona Kumi</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing </a>.
                </p>
              </div>
            </li>

            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/2.png" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ John Doe</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor <a href="#"># ipsum dolor </a>adipiscing elit.
                </p>
              </div>
            </li>

            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/3.png" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ Madonae Jonisyi</strong>
                <p>
                  Lorem ipsum dolor <a href="#"># sit amet</a> sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2">
    </div> -->

<!-- =============== REPEAT =============== -->

<!-- 
    <div class="col-md-4 image">
      <%= image_tag("broken-heart.png", :alt => "rss feed", :size => "100x100") %>
      <div class="twt-wrapper">
        <div class="panel panel-info">
          <div class="clearfix">
          </div>
          <ul class="media-list">
            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/1.png" alt="" class="img-circle">
              </a>

              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ Rexona Kumi</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor sit amet, <a href="#"># consectetur adipiscing </a>.
                </p>
              </div>
            </li>

            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/2.png" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ John Doe</strong>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Lorem ipsum dolor <a href="#"># ipsum dolor </a>adipiscing elit.
                </p>
              </div>
            </li>

            <li class="media">
              <a href="#" class="pull-left">
                <img src="assets/img/3.png" alt="" class="img-circle">
              </a>
              <div class="media-body">
                <span class="text-muted pull-right">
                  <small class="text-muted">30 min ago</small>
                </span>
                <strong class="text-success">@ Madonae Jonisyi</strong>
                <p>
                  Lorem ipsum dolor <a href="#"># sit amet</a> sit amet, consectetur adipiscing elit.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 -->