
<%= render partial: "layouts/jumbotron", locals: {heading: "InstaFeedback"} %>

<!-- = @tweetedSponsors.inspect %>
<div class="container">
	
	<div class="row">
		<h2>New search:</h2>
		  @tweetedSponsors.each do |x| %>
			<div class="col-md-12 tweets">
				
				<p> The word <strong> = x[0] %></strong> was used  = x[1] %> times</p>
			</div>
		 end %>
	
	</div>
</div> -->



<% if flash[:success] %>
	<h1><%= flash[:success] %></h1>
<% end %>


<div class="container search_box">

	<div class="row">
		<div class="col-md-12 heading">
	 		<h2> Search a Hashtag </h2>
	 	</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<%= form_for :search, url: update_tweets_path, method: :post do |f| %>
				<%= f.text_field "text", placeholder: "#devweek16" %> <br> <br>

				<%= f.submit "submit" , class: "btn btn-primary"%>

			 <% end %>
		</div>
	</div>
</div>




	<div class="container margin_bottom">
		<div class="row">
			<div class="col-md-12">
				<h3> Sponsor Scoreboard: </h3>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 ">
				<h4> Sponsor Name: </h4>
			</div>
		
			<div class="col-md-6 ">
				<h4> Sponsor Score: </h4>
			</div>

		</div>
		
		<% @tweetedSponsors.each do |sponsors| %>

		<div class="row sponsor_score ">
			<div class="col-md-6 ">
				<h5> <%= sponsors[0].titleize %> </h5>
			</div>

			<div class="col-md-6 ">
				<h5> <%= sponsors[1] %> </h5>
			</div>
		</div>

		<% end %>

	</div>



<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3> Words most Used </h3>
		</div>

		<div class="col-md-6">
			<h3> Associated Hashtags Most Used
		</div>
	</div>


	<div class="row">

		<div class="col-md-6 tweets">
		<% @words.each do |x| %>
			<div class=" row">
				<div class="col-md-12">
					<p> <strong><%= x[0] %></strong> was used  <strong><%= x[1] %></strong> times</p>
				</div>
			</div>
		<% end %>
		</div>

		<div class="col-md-6 tweets">
		<% @hashtag_inc.each do |x| %>
			<div class=" row">
				<div class="col-md-12">
					<p> <strong><%= x[0] %></strong> was used <strong><%= x[1] %></strong> times</p>
				</div>
			</div>
		<% end %>
		</div>


	</div>
</div>






