
<%= render partial: "layouts/jumbotron", locals: {heading: "nstaFeedback"} %>


<div class="container">
	<div class="row">
		<span class="first">
			<h2>Tweeted sponser scoreboard:</h2>
			<span class="icon-edit new"></span>
		</span>
			<ul class="timeline">
        <div class="bubble-container">
        	<div class="bubble">
						<div class="col-md-6 underline">
							<strong>Sponser:</strong>
						</div>
						<div class="col-md-6 underline">
							<strong>Score:</strong>
						</div>

						<% @tweetedSponsers.each do |sponser| %>
							<div class="arrow"></div>
							<div class="col-md-6 tweets">
								<%= sponser[0].capitalize %>
							</div>
							<div class="col-md-6 tweets"><%=sponser[1] %></div>
						<% end %>
					</div>
				</div>
			</ul>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<span class="first">
    	<h2>Past search:</h2>
    	<span class="icon-edit new"></span>
    	</span>
    		<ul class="timeline">
        <div class="bubble-container">
        	<div class="bubble">
        <% @oldWordsCount.each do |x| %>
					<div class="arrow"></div>
					<p> The word <strong><%= x[0] %></strong> was used <%= x[1] %> times</p>
				<% end %>
			</div>
		</div>
		</ul>
	</div>

		<div class="col-md-2"></div>

		<div class="col-md-4">
			<span class="first">
			<h2>New search:</h2>
			<span class="icon-edit new"></span>
			</span>
				<ul class="timeline">
					<div class="bubble-container">
						<div class="bubble">
					<% @newWordsCount.each do |x| %>
						<div class="arrow"></div>
					<p> The word <strong><%= x[0] %></strong> was used <%= x[1] %> times</p>
			<% end %>
		</div>
	</div>
</ul>
	</div>
</div>